.prHeader{
    width: 100%;
    display: flex;
    justify-content: right;
    background-image: linear-gradient(to right,#1064C8 ,#053364);
    color: white;
    padding:14px;
    align-items: center;
}
.prLogo{
    width: 30px;
    height: 30px;
    margin-right: 4px;
}