.ticketsListHeader{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.createTicketBtn{
    background-color:#1064C8;
    color:white;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding:8px;
    border-radius: 4px;
    cursor: pointer;
}
.createTicketBtn:hover {
    background-color: #053364;
}
.tableWrapper{
    overflow-x: auto;
}
.prTicketsTable{
    width: 100%;
    min-width: 625px;
}

.prTicketsTable td, th {
    text-align: left;
    padding: 8px;
  }

.prTicketsTable tbody {
    display: block;
    height: calc(100vh - 220px);
    overflow: auto;
}

.prTicketsTable tr {
    display: table;
    width: 100%;
    table-layout: fixed
  }

.statusCell{
    width: 150px;
}
.priorityCell{
    width: 150px;
}
.idCell{
    width: 100px;
}
.editCell{
    width: 50px;
}

.prTicketsTable td p {
    width: 100%; 
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
  }
  @media only screen and (max-width: 992px){
    .statusCell{
        width: 100px;
    }
    .priorityCell{
        width: 100px;
    }
}